@page
@model ProfileDetailsModel
<div class="profile text-center">
    <div class="container">
        <form action="" class="w-50 mt-4 m-auto text-right">
            <label for="uploadPhoto" class="d-block text-center">
                <img src="~/img/@Model.userPoco.Image" class="img-fluid" id="showImage" alt="">
            </label>
            <h2 class="section-title">My Profile</h2>
            <div class="" style="margin-top: 6%;">
                <label for="" class="d-block">Name</label>
                <p>@Model.userPoco.FirstName @Model.userPoco.LastName </p>
            </div>
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <label for="" class="d-block">E-mail</label>
                <p>@Model.userPoco.Email</p>
            </div>
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <label for="" class="d-block">Type</label>
                <p>@Model.userPoco.UserType</p>
            </div>
            @if (Model.userPoco.UserType== UserType.Doctor)
            {
                <img src="~/img/hr.svg" class="img-fluid" alt="">
                <div class="mt-2">
                    <label for="" class="d-block">Expert In</label>
                    <p>@Model.userPoco.ExpertIn</p>
                </div>
                <img src="~/img/hr.svg" class="img-fluid" alt="">
                <div class="mt-2">
                    <label for="" class="d-block">Description</label>
                    <p>@Model.userPoco.Description</p>
                </div>
            }
            @*<img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <label for="" class="d-block">Password</label>
                <p>ex : khcdf90-8</p>
            </div>*@
            <img src="~/img/hr.svg" class="img-fluid" alt="">
            <div class="mt-2">
                <a href="~/Identity/Account/editProfile" class="btn btn-update w-50 rounded-5 text-center m-auto d-block mb-4">Edit My Profile</a>
                <a href="~/Identity/Account/logout" class="btn btn-update w-50 rounded-5 text-center m-auto d-block mb-4">logout</a>
               @* <button class="btn btn-update w-50 rounded-5 text-center m-auto d-block">logout</button>*@
            </div>
        </form>
    </div>
</div>
